@import '~@angular/material/theming';
@include mat-core();

$primary-color-dark:   #0288D1;
$primary-color:        #03A9F4;
$primary-color-light:  #B3E5FC;
$primary-color-text:   #FFFFFF;
$accent-color:         #FF5722;
$primary-text-color:   #212121;
$secondary-text-color: #757575;
$divider-color:        #BDBDBD;

$primary: mat-palette($mat-light-blue, 600, 100, 800);
$primary-light: mat-palette($mat-light-blue);
$accent:  mat-palette($mat-deep-orange, 500, 900, A100);
$warn:    mat-palette($mat-red);

$theme: mat-light-theme($primary, $accent, $warn);

@include angular-material-theme($theme);