<div class="horizontal-center">
    <span class="mat-h2">Sign in</span>
    <br>
    <md-form-field class="input-field">
        <input mdInput                             
            placeholder="Email" required>
    </md-form-field>
    <br>
    <md-form-field class="input-field">
        <input mdInput                             
            placeholder="Password" required>
    </md-form-field>
    <br>
    <a md-raised-button
        color="accent">
        Sign in</a>
</div>