<div class="horizontal-center">
    <span class="search-title"><h1>Search carwash in Tyumen</h1></span>
    <!-- <form> -->
        <md-form-field class="full-width">
            <input mdInput [(ngModel)]="carwashName" placeholder="Carwash (optional)">
        </md-form-field>
        <md-form-field class="full-width">
            <input mdInput 
                [mdDatepicker]="picker" 
                [(ngModel)]="datepickerDate" 
                (dateChange)="onChange($event)"
                name="dateInput"
                placeholder="Choose a date">
            <md-datepicker-toggle mdSuffix [for]="picker"></md-datepicker-toggle>
            <md-datepicker #picker></md-datepicker>
        </md-form-field>
        
        <a md-raised-button 
            color="primary" 
            class="full-width"
            (click)="searchButtonClick()" 
            >
        Search</a>
    <!-- </form> [routerLink]="['schedules', {carwashName: carwashName}]"-->
</div>