.schedule-card{
    display: inline-block;
    background: lightgray;
    margin: 6px;
    width: 253px;    
}
.schedule-card:hover{
    background: lightgreen;
    cursor: pointer;
}

.float-right{
    1float: left;
}
.line-end{
    1clear: both;
}

/* dublicate with carwash-search */
.horizontal-center{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    _justify-content: center;
    align-items: center;
    align-content: flex-start;
    
    max-width: 940px;
    height: 70vh;
    padding-top: 20px;
}