<div class="horizontal-center">
    <md-card 
        *ngFor="let schedule of schedules; let i=index" 
        class="schedule-card float-right" 
        [class.line-end]="false"
        (click)="scheduleClick(schedule.id)">
        <md-card-header>
        <md-card-title>{{ schedule.id }}:{{ schedule.name }}</md-card-title>
        <md-card-subtitle>Owner: {{ schedule.owner }}</md-card-subtitle>
        </md-card-header>
        <md-card-content>
        <p>
            Working time: {{ schedule.workTime }}<br>
            Description: {{ schedule.description }}
            <!-- {{ schedule.workDays }}<br>
            {{ schedule.dinnerTime }}<br>
            {{ schedule.timeInterval }}<br>
            {{ schedule.createDate }}<br> -->
        </p>
        </md-card-content>
    </md-card>
    <div style="width: 100%;"></div>
    <a md-button
        color="primary" 
        class="back-button"
        [routerLink]="['/']">
        Back</a>
</div>